<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/explanation.css">
</head>
<body>
    <div class="yomikata-explanation">
        <div class="yomikata-explanation-top-bar">
            <span class="yomikata-explanation-tag active">Word</span>
            <span class="yomikata-explanation-tag">Kanji</span>
        </div>
        <hr>
        <div class="yomikata-explanation-container hidden" id="yomikata-explanation-word">
            <span>
                <h2>何</h2>
                <h3>なに</h3>
            </span>
            <ul>
                <li>
                    cos
                </li>
                <li>
                    cosiek
                </li>
                <li>
                    cos tam
                </li>
                <li>
                    cos takiego
                </li>
                <li>
                    cos
                </li>
                <li>
                    cosiek
                </li>
                <li>
                    cos tam
                </li>
                <li>
                    cos takiego
                </li>
            </ul>
        </div>
        <div class="yomikata-explanation-container" id="yomikata-explanation-kanji">
            <div class="yomikata-explanation-kanji-element">
                <h2>前</h2>
                <span class="yomikata-explanation-kanji-element-state">Meanings: <span class="yomikata-explanation-kanji-element-text"></span></span>
                <br>
                <span class="yomikata-explanation-kanji-element-state">Onyomi: <span class="yomikata-explanation-kanji-element-text">ゼン</span></span>
                <br>
                <span class="yomikata-explanation-kanji-element-state">Kunyomi: <span class="yomikata-explanation-kanji-element-text">まえ</span></span>
            </div>
        </div>
    </div>
</body>
</html>